* {
  margin: 0 auto;
}

body {
  background-image: url(./images/mountains.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  width: 360px;
}

#inputField {
  width: 300px;
  height: 46px;
  border: 3px solid black;
  vertical-align: middle;
  font-size: 25px;
}

#addTodo {
  height: 50px;
  width: 50px;
  border: 3px solid black;
  vertical-align: middle;
  font-size: 30px;
}

.todos {
  margin-top: 30;
}
